<!doctype html>
<html lang="en">
    <head>
        
        <!-- our local copy of the jquery library. Normally, we'd use a CDN copy to use someone else's bandwidth -->
        <script src="js/jquery.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
       
        <script>
            //handle a click on the LIKE button we've included with each post
            //we receive the ID of the post as a parameter
            function likeClick(id){
                Promise.resolve()
                .then(function(){
                    //jQuery provides a nice convenience method for easily sending a post with parameters in JSON
                    //here we pass the ID to the incrLike route on the server side so it can do the incrementing for us
                    //note the return. This MUST be here, or the subsequent then will not wait for this to complete
                    return $.post('incrLike', {id : id});
                })
                .then(function(like){
                    //jQuery provides a nice convenience methot for easily setting the count to the value returned
                    $('#like' + like.id).html(like.count);
                })
                .catch(function(err){
                    //always include a catch for the promise chain
                    console.log(err);
                });
            }
            
            //the non-jQuery version of likeClick() looks like this:
            function likeClickNJQ(id){
                //create an XMLHttpRequest object
                var xhr = new XMLHttpRequest();
                //say we want to do a post to incrLike
                xhr.open("POST", "incrLike", true);
                //set up the header to say we're sending json data
                xhr.setRequestHeader("Content-type", "application/json");
                //define a callback to determine what we're going to do with the response
                xhr.onreadystatechange = function () {
                    //if things were successful
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        //parse the string data received back into JSON data
                        var like = JSON.parse(xhr.responseText);
                        //update the element with the count
                        document.getElementById('like' + like.id).innerHTML = like.count;
                    }
                };
                //create a string from the JSON data we want to send
                var data = JSON.stringify({"id": id});
                //send it
                xhr.send(data);
            }            

            //onLoad function, to be executed when page is completed loaded by browser
            function onload(){
                //start a promise chain
                Promise.resolve()
                .then(function(){
                    //jQuery function to request all the posts from the server
                    //the 'return' is required. Otherwise, the subsequent then will not wait for this to complete
                    return $.post('posts');  
                })
                //when the server responds, we'll execute this code
                .then(function(posts){
                    //jQuery function to set the innerHTML of the div with id = 'posts' to empty
                    $('#posts').html('');
                    //loop over each post item in the posts array
                    posts.forEach(function(post){
                        //jQuery function to append to the innterHTML of the div with id = 'posts'
                        $('#posts').append(
                            //remember the id in a data- element (we can define as many of our own as needed)
                            '<div data-postId="' + post._id + '">' +
                            //set the image url in the img tag. This will force the browser to go get it
                            '<img src="' + post.image + '"/>' +
                            //set the comment into a paragraph
                            '<p>' + post.comment + '</p>' +
                            //set the like count
                            '<p>Like Count: ' + 
                            //use a span with an id so the javascript can find this easily later
                            '<span id ="like' + post._id + '">' + post.likeCount + '</span>' + 
                            '</p>' +
                            //set up the click event to call likeClick() with the id of this item as a parameter
                            '<button onclick="likeClick(\'' + post._id + '\');">Like</button>' +
                            '</div>'
                        );
                    });
                })
                .catch(function(err){
                    //always include a catch for exceptions
                    console.log(err);
                });
            }
        </script>
        
        <title>Instagram</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 .ex1 
{
    direction: rtl;
}

</style>
    </head>
    <!-- add the onload event handler to the body tag -->
    <body onload="onload();">
        <!-- create a div with an id to give us an anchor point to let the javascript do its work -->
        <div id="posts"></div>
        
         <main>
<header>
<img src="https://s3-eu-central-1.amazonaws.com/centaur-wp/creativereview/prod/content/uploads/2016/05/Instagram_Logo.jpg" style="width:50px; height:50px;margin-left:170px;">&emsp;
<img src="http://tltesting.readthedocs.org/en/latest/_images/vertical.png" style="height:50px;width:1px;">&emsp;
<img src="http://biblioteca.uva.es/export/sites/biblioteca/_imagenes/Instagram-nuevo-textojpg.jpg" style="width:110px;height:50px ;">
<input type="text" name="search" placeholder="Search.." style="width:220px;height:20px;margin-left:200px;align:centre">
<img src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-73-128.png" style="width:50px;height:40px;margin-left:200px;">&nbsp;
<img src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-68-128.png" style="width:50px;height:40px;">&nbsp;
<img src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-74-128.png" style="width:50px;height:40px;">&nbsp;
<hr>
    </body>
</html>